
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
      *{
        font-family: 'Times New Roman'
      }
      a {
        text-decoration: none;
      }
    </style>
</head>
<body ng-app="myApp" ng-controller="browserController">
   <!-- Navbar -->
   <selection id="navbar">
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: rgba(95, 111, 82, 0.09); backdrop-filter: blur(10px);">
        <div class="container">
            <a class="navbar-brand" href="/public/homepage_views.html" style="font-weight: 1000; font-size: 2rem; font-family:  'Times New Roman', serif; text-transform: uppercase; letter-spacing: 15px; color: rgba(95, 111, 82, 10); text-shadow: 1px 1px 5px #ffffff;">
                MATCHI
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/public/views/homepage_views.html" style="color: rgba(95, 111, 82, 10); transition: color 0.3s ease; font-family:  'Times New Roman', serif;"
                        onmouseover="this.style.color='#000000'" 
                        onmouseout="this.style.color='rgba(95, 111, 82, 10)'">
                        <i style="font-size: 1.5rem;"></i>Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/public/views/fabrev/fabric_reviews.html" style="color: rgba(95, 111, 82, 10); transition: color 0.3s ease; font-family:  'Times New Roman', serif;"
                        onmouseover="this.style.color='#000000'" 
                        onmouseout="this.style.color='rgba(95, 111, 82, 10)'">
                        <i style="font-size: 1.5rem;"></i>Fabrics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/public/views/us/aboutUS_views.html" style="color: rgba(95, 111, 82, 10); transition: color 0.3s ease; font-family:  'Times New Roman', serif;"
                        onmouseover="this.style.color='#000000'" 
                        onmouseout="this.style.color='rgba(95, 111, 82, 10)'">
                        <i style="font-size: 1.5rem;"></i>About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/public/views/us/contact_views.html" style="color: rgba(95, 111, 82, 10); transition: color 0.3s ease; font-family:  'Times New Roman', serif;"
                        onmouseover="this.style.color='#000000'" 
                        onmouseout="this.style.color='rgba(95, 111, 82, 10)'">
                        <i style="font-size: 1.5rem;"></i>Contact
                        </a>
                    </li>
                    <li>
                        <button id="subscribeBtnNavbar" class="btn btn-sm " onclick="toggleSubscription()"
                                style="  font-family:  'Times New Roman', serif; transition: all 0.3s ease; border-radius: 10px; background-color: #ffffff; color: rgba(95, 111, 82, 10); 
                                    font-size: 14px; padding: 5px 10px; width: auto; 
                                       position: relative; top: -38px; left: 0; transform: translateY(50px);"
                                onmouseover="this.style.backgroundColor='rgba(95, 111, 82, 10)'; this.style.color='#ffffff'; this.style.transform='scale(1.05) translateY(50px)';"
                                onmouseout="this.style.backgroundColor='#ffffff'; this.style.color='rgba(95, 111, 82, 10)'; this.style.transform='scale(1) translateY(50px)';"
                                onmousedown="this.style.backgroundColor='#687c5c'; this.style.color='#ffffff';"
                                onmouseup="this.style.backgroundColor='rgba(95, 111, 82, 10)'; this.style.color='#ffffff';">
                            Subscribe
                        </button>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href='#'
                        style="color: rgba(95, 111, 82, 10); transition: color 0.3s ease; font-family: 'Georgia', serif;" 
                        onmouseover="this.style.color='#000000'" 
                        onmouseout="this.style.color='rgba(95, 111, 82, 10)'"
                        onclick="goToProfile()">
                            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i> Profile
                        </a>
                    </li>
                    
                    <!-- Search Icon -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="toggleSearch()" 
                           style="color: rgba(95, 111, 82, 10); transition: color 0.3s ease; font-family: 'Georgia', serif;"
                           onmouseover="this.style.color='#000000'" 
                           onmouseout="this.style.color='rgba(95, 111, 82, 10)'">
                            <i class="bi bi-search" style="font-size: 2rem; margin-right: 0.5rem;"></i> 
                        </a>
                    </li>
                </ul>
                <!-- Search Box -->
                <div id="search-box" class="d-none">
                    <form class="d-flex mt-2 mt-lg-0" onsubmit="handleSearch(event)">
                        <input class="form-control me-2" type="search" id="searchInput" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

    </nav>
</selection>


<form ng-submit="submitFilter()">
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <button type="button" ng-click="filterShow()" class="btn btn-outline-dark">
          <i class="bi bi-funnel"></i>
        </button>
        <div ng-show="isVisible">
          <div class="container mt-4">
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <h5>Season</h5>
                <label><input type="radio" name="season" value="summer" ng-model="season"><i class="bi bi-sun" style="font-size: 25px; color: #FBD248; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
                <label><input type="radio" name="season" value="autumn" ng-model="season"><i class="bi bi-tree" style="font-size: 25px; color: #D42900; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
                <label><input type="radio" name="season" value="winter" ng-model="season"><i class="bi bi-snow" style="font-size: 25px; color: #89CFF0; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
                <label><input type="radio" name="season" value="spring" ng-model="season"><i class="bi bi-flower2" style="font-size: 25px; color: #FF69B4; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
                <label><input type="radio" name="season" value="none" ng-model="season"><i class="bi bi-ban" style="font-size: 23px; color: #000000; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h5>Color</h5>
                <div class="row">
                  <div class="col-6">
                    <label><input type="radio" name="color" value="blue" ng-model="color"><i class="bi bi-circle-fill" style="font-size: 27px; color: blue; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
                    <label><input type="radio" name="color" value="pink" ng-model="color"><i class="bi bi-circle-fill" style="font-size: 27px; color: pink; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
                    <label><input type="radio" name="color" value="red" ng-model="color"><i class="bi bi-circle-fill" style="font-size: 27px; color: red; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
                    <label><input type="radio" name="color" value="grey" ng-model="color"><i class="bi bi-circle-fill" style="font-size: 27px; color: grey; padding-left: 3px;" onclick="toggleRadio(this)"></i></label><br>
                  </div>
                  <div class="col-6">
                    <label><input type="radio" name="color" value="black" ng-model="color"><i class="bi bi-circle-fill" style="font-size: 27px; color: black; padding-left: 3px;"></i></label><br>
                    <label><input type="radio" name="color" value="purple" ng-model="color"><i class="bi bi-circle-fill" style="font-size: 27px; color: purple; padding-left: 3px;"></i></label><br>
                    <label><input type="radio" name="color" value="green" ng-model="color"><i class="bi bi-circle-fill" style="font-size: 27px; color: green; padding-left: 3px;"></i></label><br>
                    <label><input type="radio" name="color" value="brown" ng-model="color"><i class="bi bi-circle-fill" style="font-size: 27px; color: brown; padding-left: 3px;"></i></label><br>
                    <label><input type="radio" name="color" value="none" ng-model="color"><i class="bi bi-ban" style="font-size: 23px; color: #000000; padding-left: 3px;"></i></label><br>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h5 style="padding-bottom: 3px;">Piece</h5>
                <label><input type="radio" name="piece" value="top" ng-model="piece"><p style="padding: 0px 4px; display: inline-block;">Top</p></label><br>
                <label><input type="radio" name="piece" value="bottom" ng-model="piece"><p style="padding: 0px 4px; display: inline-block;">Bottom</p></label><br>
                <label><input type="radio" name="piece" value="footwear" ng-model="piece"><p style="padding: 0px 4px; display: inline-block;">Footwear</p></label><br>
                <label><input type="radio" name="piece" value="one-piece" ng-model="piece"><p style="padding: 0px 0px; display: inline-block;">One-Piece</p></label><br>
                <label><input type="radio" name="piece" value="none" ng-model="piece"><i class="bi bi-ban" style="font-size: 23px; color: #000000; padding-left: 3px;"></i></label><br>
                <button type="submit" class="btn btn-outline-dark" style="margin-top: 10px">Filter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

    <div class="container mt-1">
      <div class="row">
        <div ng-repeat="item in pieces" class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
          <a href="fashion.html?name={{item.NameId}}" style="color: inherit;">
            <div class="card">
              <img src="../images/{{item.Image}}" class="card-img-top" alt="{{item.Name}}" style="height: 345px; object-fit: contain;">
              <div class="card-body">
                <h5 class="card-title">{{item.Name}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="product-section text-center mt-1">
      <div class="container p-1" style="max-width: 85%;">
        <h2 class="text-dark-green display-2 fw-bold">Seasonal Fashion Trends</h2>
        <p class="text-muted fs-3 text-dark-green">"Elevate Your Style with Seasonal Inspirations."</p>
    
        <div class="row g-4 justify-content-center">
          <div class="col-6 col-md-4 col-lg-1 p-1 d-flex">
            <div class="img-container h-60 w-60">
              <img src="../images/b1.jpg" alt="Fashion Illustration 1" class="img-fluid rounded w-100 h-100 object-fit-cover mt-1 mb-0">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-1 p-1 d-flex">
            <div class="img-container h-60 w-60">
              <img src="../images/b2.jpg" alt="Fashion Illustration 2" class="img-fluid rounded w-100 h-100 object-fit-cover mt-1 mb-0">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-1 p-1 d-flex">
            <div class="img-container h-60 w-60">
              <img src="../images/b3.jpg" alt="Fashion Illustration 3" class="img-fluid rounded w-100 h-100 object-fit-cover mt-1 mb-0">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-1 p-1 d-flex">
            <div class="img-container h-60 w-60">
              <img src="../images/b4.jpg" alt="Fashion Illustration 4" class="img-fluid rounded w-100 h-100 object-fit-cover mt-1 mb-0">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-1 p-1 d-flex">
            <div class="img-container h-60 w-60">
              <img src="../images/b5.jpg" alt="Fashion Illustration 5" class="img-fluid rounded w-100 h-100 object-fit-cover mt-1 mb-0">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-1 p-1 d-flex">
            <div class="img-container h-60 w-60">
              <img src="../images/b6.jpg" alt="Fashion Illustration 6" class="img-fluid rounded w-100 h-100 object-fit-cover mt-1 mb-0">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-1 p-1 d-flex">
            <div class="img-container h-60 w-60">
              <img src="../images/b7.jpg" alt="Fashion Illustration 7" class="img-fluid rounded w-100 h-100 object-fit-cover mt-1 mb-0">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-1 p-1 d-flex">
            <div class="img-container h-60 w-60">
              <img src="../images/b8.jpg" alt="Fashion Illustration 8" class="img-fluid rounded w-100 h-100 object-fit-cover mt-1 mb-0">
            </div>
          </div>
        </div>
    
        <div class="container mt-4">
          <p class="h4 fw-bold text-dark-green">Discover More</p>
          <h3 class="text-dark-green">Fashion That Fits Every Mood</h3>
          <div class="row g-3">
            <!-- Baris pertama dengan 4 gambar -->
            <div class="col-6 col-md-3 col-lg-3 p-2 h-60 w-60">
              <img src="../images/b6.jpg" alt="Fashion Collection 1" class="img-fluid rounded">
            </div>
            <div class="col-6 col-md-3 col-lg-3 p-2 h-60 w-60">
              <img src="../images/b7.jpg" alt="Fashion Collection 2" class="img-fluid rounded">
            </div>
            <div class="col-6 col-md-3 col-lg-3 p-2 h-60 w-60">
              <img src="../images/b8.jpg" alt="Fashion Collection 3" class="img-fluid rounded">
            </div>
            <div class="col-6 col-md-3 col-lg-3 p-2 h-50 w-60">
              <img src="../images/b9.jpg" alt="Fashion Collection 4" class="img-fluid rounded">
            </div>
          </div>
          <div class="row g-3">
            <div class="col-6 col-md-3 col-lg-3 p-2 h-60 w-60">
              <img src="../images/b5.jpg" alt="Fashion Collection 5" class="img-fluid rounded">
            </div>
            <div class="col-6 col-md-3 col-lg-3 p-2 h-60 w-60">
              <img src="../images/b1.jpg" alt="Fashion Collection 6" class="img-fluid rounded">
            </div>
            <div class="col-6 col-md-3 col-lg-3 p-2 h-60 w-60">
              <img src="../images/b2.jpg" alt="Fashion Collection 7" class="img-fluid rounded">
            </div>
            <div class="col-6 col-md-3 col-lg-3 p-2 h-60 w-60">
              <img src="../images/b3.jpg" alt="Fashion Collection 8" class="img-fluid rounded">
            </div>
          </div>
        </div>

      </div>
    </div>
 
    <footer class="footer text-center py-3" style="background-color: #A9B388;">
      <div class="container" style="padding: 30px 0px 10px 0px;">
          <div class="row justify-content-center">
              <div class="col-md-2 mb-2">
                  <i class="bi bi-people-fill fs-5 text-dark"></i>
                  <h6 style="font-size: 12px;">Collaboration</h6>
                  <p style="font-size: 11px;">Engage with fashion enthusiasts.</p>
              </div>
              <div class="col-md-2 mb-2">
                  <i class="bi bi-box2 fs-5 text-success"></i>
                  <h6 style="font-size: 12px;">Fabric Knowledge</h6>
                  <p style="font-size: 11px;">Learn about fabrics and sustainability.</p>
              </div>
              <div class="col-md-2 mb-2">
                  <i class="bi-lightbulb fs-5 text-warning"></i>
                  <h6 style="font-size: 12px;">Style Tips</h6>
                  <p style="font-size: 11px;">Elevate your personal style.</p>
              </div>
              <div class="col-md-2 mb-2">
                  <i class="bi-check-circle fs-5 text-success"></i>
                  <h6 style="font-size: 12px;">Brand Transparency</h6>
                  <p style="font-size: 11px;">Evaluate authentic and ethical brands.</p>
              </div>
          </div>

  
          <div class="container" style="padding-top: 5px; padding-bottom: 2px;">
              <div class="row">
                  <div class="col-md-6 d-flex align-items-center justify-content-end">
                      <a href="views/us/contact_views.html" style="color: inherit; text-decoration: none;">Contact Us</a>
                  </div>
                  <div class="col-md-6 d-flex align-items-center justify-content-start">
                      <a href="views/us/aboutUS_views.html" style="color: inherit; text-decoration: none;">About Us</a>
                  </div>
              </div>
          </div>
          <p class="text-muted small mt-3">© 2024 ruccie, sproutnforest, bhaze. All rights reserved.</p>
      </div>
    
  </footer>     

    <script src="../controller/controller.js"></script> 
  </body>
</html>